@import "bulma/css/bulma.css";
:root {
  --navbar-height: 60px;
}
main {
  margin-top: var(--navbar-height);
  div.grid {
    div.cell {
      textarea {
        font-family: monospace;
        height: 100vh;
      }
      iframe {
        height: 100vh - calc(var(--navbar-height) * 1.5);
      }
    }
  }
}
