@import "bulma/css/bulma.css";
:root {
  --navbar-height: 60px;
}
main {
  margin-top: var(--navbar-height);
  div.grid {
    div.cell {
      textarea {
        font-family: monospace;
        width: 100%;
        height: 100vh;
      }
      iframe {
        width: 100%;
        min-height: calc(100vh - var(--navbar-height) * 1.5);
      }
    }
  }
}
